
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>XMLHttpRequest上传文件</title>   
    <script>
        //打开数据库
        const openDB = () => new Promise((success, error) => {
            plus.sqlite.openDatabase({
                name: 'first',
                path: '_doc/test.db',
                success: success(function (e) {
                    console.log('openDatabase success!');
                }),
                error: error(function (e) {
                    console.log('openDatabase failed: ' + JSON.stringify(e));
                })
            });
        });
        //创建
        function executeSQL() {
            plus.sqlite.executeSql({
                name: 'first',
                sql: 'create table if not exists database("where" CHAR(110),"location" CHAR(100),"age" INT(11))',
                success: function (e) {
                    console.log('executeSql success!');
                    plus.sqlite.executeSql({
                        name: 'first',
                        sql: "insert into database values('北京','安乐林','11')",
                        success: function (e) {
                            console.log('executeSql success!');
                        },
                        fail: function (e) {
                            console.log('executeSql failed: ' + JSON.stringify(e));
                        }
                    });
                },
                fail: function (e) {
                    console.log('executeSql failed: ' + JSON.stringify(e));
                }
            });
        }
        //查询
        const selectSQL = () => new Promise((success, error) => {
            plus.sqlite.selectSql({
                name: 'first',
                sql: 'select * from database',
                success: function (data) {
                    console.log('selectSql success: ');
                    for (let i in data) {
                        console.log(data[i]);
                    }
                },
                error: function (e) {
                    console.log('selectSql failed: ' + JSON.stringify(e));
                }
            });
        })
    </script>
</head>
<body>

</body>
</html>
