
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/assets/js/vue.min.js"></script>
</head>
<body>
    <!-- v-cloak隐藏为编译的变量，直到Vue实例准备就绪 -->
    <form id="main" v-cloak>
    </form>
</body>
</html>
